[submodule "AnimationBaked"]
	path = AnimationBaked
	url = https://github.com/DevForEm/AnimationBaked.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/DevForEm/Backend.git
[submodule "Service"]
	path = Service
	url = https://github.com/DevForEm/Service.git
